[Unit]
Description=PutIO Downloader Service
After=network-online.target
[Service]
Type=simple
User=joshgraff
ExecStartPre=/bin/sleep 30
Environment="PYTHONPATH=$PYTHONPATH:/home/dietpi/.local/lib/python3.10/site-packages"
Restart=always
RuntimeMaxSec=2d
RestartSec=5
ExecStart=/home/joshgraff/dev/putio_downloader/.venv/bin/python3 /home/joshgraff/dev/putio_downloader/putio_webdav.py
[Install]
WantedBy=multi-user.target
