[Unit]
Description=PutIO Downloader Service
After=multi-user.target
[Service]
Type=simple
User=dietpi
ExecStartPre=/bin/sleep 30
Environment="PYTHONPATH=$PYTHONPATH:/home/dietpi/.local/lib/python3.9/site-packages"
Restart=always
ExecStart=/usr/bin/python3 /home/dietpi/dev/putio_webdav.py
[Install]
WantedBy=multi-user.target
